<header id="izaa" class="st-header q-pa-sm">
    <h1 class="st-header__title text-h3" id="ie1n">Stock price inspector</h1>
</header>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <st-big-number id="ife32" title="End price" :number="endval"></st-big-number>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <st-big-number id="ire51" title="Avg. price" :number="avgval"></st-big-number>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <st-big-number id="i3b6u" title="Total growth" :number="period_diff"></st-big-number>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <st-big-number id="i4x8f" title="Return %" :number="percent_return"></st-big-number>
    </div>
</div>
<div class="row">
    <div id="ijqcc" class="st-col col-sm st-module">
        <q-select id="i7dcn" label="Stock" :options="stocks" v-model="selected_stock"></q-select>
        <q-input id="iwdxh" :clearable="false" :filled="true" label="Start date" v-model="start_date">
            <q-icon id="ir0is" class="cursor-pointer" name="event">
                <q-popup-proxy>
                    <q-date id="ivhpb" v-model="start_date" mask="YYYY-MM-DD" :no-unset="true" :today-btn="true"></q-date>
                </q-popup-proxy>
            </q-icon>
        </q-input>
        <q-input id="ilobx" :clearable="false" :filled="true" label="End date" v-model="end_date">
            <q-icon id="ihxzz" class="cursor-pointer" name="event">
                <q-popup-proxy>
                    <q-date id="ilqcv" v-model="end_date" mask="YYYY-MM-DD" :no-unset="true" :today-btn="true"></q-date>
                </q-popup-proxy>
            </q-icon>
        </q-input>
    </div>
    <div id="ik0gl" class="st-col col-sm st-module">
        <div id="iqqhi" class="row">
            <div id="i7tgr">
                <q-badge id="ilan9" v-on:click="window=7" label="1w"></q-badge>
                <q-badge id="inzp8" v-on:click="window=30" label="1m"></q-badge>
                <q-badge id="i89xf" v-on:click="window=365" label="1y"></q-badge>
                <q-badge id="in2b1" v-on:click="window=365*3" label="3y"></q-badge>
            </div>
            <p id="iukz2">Time window: {{elapsed}}</p>
        </div>
        <plotly id="ikr4v" data="W3sieCI6IiRfe3ByaWNlcy50aW1lc3RhbXB9IiwieSI6IiRfe3ByaWNlcy5jbG9zZX0iLCJ0eXBlIjoic2NhdHRlciIsIm5hbWUiOiJDbG9zaW5nIHByaWNlIn0seyJ4IjoiJF97cHJpY2VzLnRpbWVzdGFtcH0iLCJ5IjoiJF97cHJpY2VzLm1hMjB9IiwidHlwZSI6InNjYXR0ZXIiLCJuYW1lIjoiMjAgZGF5IGF2Zy4ifV0=" config="e30=" layout="eyJ0aXRsZSI6IiIsInNob3dsZWdlbmQiOnRydWV9"></plotly>
    </div>
    <div id="ispc3" class="st-col col-sm st-module">
        <h6>News</h6>
        <q-scroll-area id="ij94k">
            <q-list id="ikfgs" class="rounded-borders" :bordered="true">
                <q-item v-for="newsItem in news" :key="newsItem.Link" id="ip7xd" :clickable="true">
                    <q-item-section id="ie788">
                        <q-item-label id="i0vr2" class="text-h6 q-mb-xs"><a :href="newsItem.Link" id="iy5iq"> {{ newsItem.Title }}</a></q-item-label>
                        <q-item-label id="iyzgx" class="text-caption">{{ newsItem.Timestamp }}</q-item-label>
                        <q-item-label id="im8yd" :caption="true" :lines="2">{{ newsItem.Publisher }}</q-item-label>
                        <q-item-label id="idqi5" :caption="true" :lines="2">Symbols: {{ newsItem.Symbols.join(', ') }}</q-item-label>
                    </q-item-section>
                    <q-item-section id="iwsnh" :side="true" :top="true"></q-item-section>
                </q-item>
            </q-list>
        </q-scroll-area>
    </div>
</div>
<header class="st-module"></header>